<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro 404</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <main class="erro">
        <div class="cabecalho-erro">
            <h1>ERRO 404</h1>
            <p>Endereço não encontrado</p>
        </div>
        <div class="corpo-erro">
            <a href="/"><button>
                    Voltar para a página inicial
                </button></a>
        </div>
    </main>

</body>

</html>